.burger__ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grab;
}

.burger__price {
  display: flex;
  align-items: center;
}

.burger__name {
  min-height: 48px;
}
