.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer__link {
  text-decoration: none;
  color: var(--colors-interface-accent);
}
