.ingr__nutrcontainer {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.ingr__nutrition {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
