.constructor {
  display: flex;
  /* align-self: flex-start; */
  flex-direction: column;
  gap: 16px;
  flex: 1 1 600px;
  overflow-y: scroll;
}

.constructor__order {
  display: flex;
  align-self: flex-end;
  margin-bottom: 70px;
}
