.header {
  display: grid;
  grid-template-columns: repeat(3, min(33vw, 432px));
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: var(--background);
}

.header__order {
  display: flex;
  justify-self: flex-start;
}

.header__button {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  background: none;
  border: none;
  border-radius: 40px;
  color: inherit;
  text-decoration: none;
}
